@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name*/

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.flexbox {
  display: flex;
}

.text-grey{
    color: #424242;
}


/* Header Styles */
.brand{
    border: 1px solid #ccc;
}



/* Navbar related Styles */
.nav-links{
    width: 100vw;
    padding: ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #ccc;
}

.nav-links a{
    text-decoration: none;
    cursor: pointer;
}

.nav-links li{
    list-style: none;
    border: 1px solid #ccc;
    padding: 5px;
}