@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name*/

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --dark1: #131313;
    --dark2: #424242;
    --dark3: #727272;
    --dark4: #A1A1A1;
    --dark5: #D0D0D0;
    --dark6: #E7E7E7;
    --dark7: #F3F3F3;
    --white: #FFFFFF;
    --header-bg: rgba(255, 144, 14, 0.1);
    --btn-bg: #FF900E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--white);
}

h1{
    font-size: 64px; 
}
h3 {
    font-size: 45px;
}

p {
    font-size: 18px;
}

/* Nav Shared Styles */

.navbar, .nav-link, .nav-item, .g3 {
    display: flex;
    align-items: center;
}
.navbar, .nav-links {
  justify-content: space-between;

}

/* Navbar related Styles */
.navbar{
    padding: 50px 228px 0px 240px;
}

/* What possible problem could show up if I'd use margin instead of padding in the .navbar class? Explain your answer. */


/* Header Styles */
.header{
    background-color: var(--header-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.g3{
    color: var(--dark1);
}

/* Navlink related Styles */


.nav-links{
    width: 477px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
}

.nav-item{
    justify-content: center;
    list-style: none;
    width: fit-content;
}

.nav-link{
    color: var(--dark2);
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}


/* banner styles */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 102px 240px 45px;
    gap: 24px;
}

.banner-header{
    color: var(--dark1);
}

.banner-sub{
    color: var(--dark3);
    width: 868px;
    line-height: 26px;
}

.banner-btn, .quick-notes-btn{
    background-color: var(--btn-bg);
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    cursor: pointer;
}

.banner-photo{
    height: 700px;
    width: 1440px;
    border: 1px solid #ccc;
}

/* Quick-list section */
.quick-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 73px;
    padding: 85px 301px 130px;
    margin: 0px auto;
    border: 1px solid #ccc;
}

.quick-list-notes{
    width: auto;
    border: 1px solid #ccc;
}

.team-photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.qnh-p1{
    color: var(--dark3);
    font-weight: 600;
}

.qnh-p2{
    color: var(--dark1);
    font-weight: 700;
}

.qnh-p3{
    color: var(--btn-bg);
    font-weight: 700;
}

.quick-notes-header{
    flex-wrap: nowrap;
    white-space: nowrap;
}
.quick-notes-paragraph{
    padding: 24px 0px 32px;
    font-size: 16px;
    color: var(--dark3);
    border: 1px solid #ccc;
}